---
hide: true
---

<!DOCTYPE html>
<html class="no-js">
  <div class="navbar">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/contact/">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Academics
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/academics/courses/">Courses</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gamedev
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/gamedev/courses/">Courses</a>
      <a href="/gamedev/projects/">Projects</a>
    </div>
  </div>
  <a href="/blog/">Blog</a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Rickroll</a>
  </div>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
